.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5em;
  @media (max-width: 768px) {
    padding: 1em;
  }
  &.ultrawide {
    padding:0;
  }
}

.text-width {
  max-width: 80%;
  @media (max-width: 768px) {
    max-width: 100%;
  }
} 

.v-spacer {
  display: block; 
  height: var(--spacer-s);

  &.s {
    height: var(--spacer-s);
  }
  &.m {
    height: var(--spacer-m);
    @media (max-width: 768px) {
      height: var(--spacer-s);    
    }
  }
  &.l {
    height: var(--spacer-l);
    @media (max-width: 768px) {
      height: var(--spacer-m);
    }
  }
  &.xl {
    height: var(--spacer-xl);
    @media (max-width: 768px) {
      height: var(--spacer-l);
    }
  }
  &.xxl {
    height: var(--spacer-xxl);
    @media (max-width: 768px) {
      height: var(--spacer-xl);
    }
  }
}

.overlay {
  position: fixed;
  padding: 1.5em;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--surface);
  color: var(--on-surface);
  text-align: center;
  z-index: 9999;
  pointer-events: auto;
  &.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &.error {
  }
}

#logos {
  display: grid;
  --column-count:3;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-auto-flow: row;
  
  @media (max-width: 768px) {
    --column-count:2;
  }
}

#teamate-feedback {
  display: grid;
  grid-template-columns: [start] repeat(3, 1fr) [center] 1fr [content] repeat(2, 1fr) [end];
  grid-auto-flow: row;
  
  @media (max-width: 768px) {
    grid-template-columns: [start] 1fr [center content] 1fr [end];
  }
  
  @media (max-width: 548px) {
    grid-template-columns: [start content] 1fr [end];
  }

  & .teamate-feedback-item {
    grid-column-start: center;
    grid-column-end: end;
    
    display:grid;
    grid-template-columns: [start] 1fr [content] 2fr [end];
    grid-auto-flow: row;
    
    
    & .job-title {
      grid-column-start: start;
      grid-column-end: content;
      padding-right: var(--gap-m);
      & a, & p {
        margin-bottom: 0;
      }
    }
    
    & .profile, & .feedback-text {
      grid-column-start: content;
      grid-column-end: end;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    & .profile {
      & figure {
        width: 25%;
        aspect-ratio: 1;
        margin-bottom: calc(var(--density) * 0.4em);
        & img.avatar {
          display: block;
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
        }
      }
    }
  }
}