.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 1.5em;
  @media (max-width: 768px) {
    padding: 1em;
  }
}

.text-width {
  max-width: 80%;
  @media (max-width: 768px) {
    max-width: 100%;
  }
} 

.overlay {
  position: absolute;
  padding: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--surface);
  color: var(--on-surface);
  text-align: center;
  z-index: 1;
  &.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &.error {
  }
}

.v-spacer {
  display: block; 
  &.s {
    height: 1em;
    @media (max-width: 768px) {
      height: 0.5em;    
    }
  }
  &.m {
    height: 2em;
    @media (max-width: 768px) {
      height: 1em;    
    }
  }
  &.l {
    height: 3em;
    @media (max-width: 768px) {
      height: 1.5em;
    }
  }
  &.xl {
    display: block;
    height: 5em;
    @media (max-width: 768px) {
      height: 2.5em;
    }
  }
}