.text-width {
  max-width: 80%;
  @media (max-width: 768px) {
    max-width: 100%;
  }
} 

.v-spacer.s {
  display: block;
  height: 1em;
  
  @media (max-width: 768px) {
    height: 0.5em;    
  }
}

.v-spacer.m {
  display: block;
  height: 2em;
  @media (max-width: 768px) {
    height: 1em;    
  }
}

.v-spacer.l {
  display: block;
  height: 4em;
  @media (max-width: 768px) {
    height: 2em;    
  }
}
.v-spacer.xl {
  display: block;
  height: 8em;
  @media (max-width: 768px) {
    height: 0.5em;    
  }
}