* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--on-surface);
  background-color: var(--surface);
  scroll-behavior: smooth;
  
  &.is-loading {
    overflow: hidden;
    height: 100vh;
    touch-action: none;

    & .video-player {
      pointer-events: none;
    }
  }
}

figure {
  margin: 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--font-weight-emphasis);
}

h1 {
  font-size: 4em;
  letter-spacing: -0.02em;
  line-height: calc(var(--density) / 1.2);
  margin-bottom: 0.5em;

  @media (max-width: 768px) {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 2.25em;
  line-height: calc(var(--density) / 1.2);
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1em;
  line-height: var(--density);
}

p {
  margin-top: 0;
  margin-bottom: calc(var(--density) * 0.4em);

  &.margin-free {
    margin: 0;
  }

  &.indent {
    text-indent: hanging var(--paragraph-indent);
  } 

  &.loud {
    font-size: 2.25em;
    line-height: 1.2;
  }

  &.display {
    font-size: 6em;
    line-height: 1;
    letter-spacing: -0.035em;
    font-weight: var(--font-weight-emphasis);

    @media (max-width: 767px) {
      &.display {
        font-size: 3em;
        letter-spacing: -0.02em;
      }
    }

    @media (max-width: 548px) {
      &.display {
        font-size: 2.5em;
      }
    }
  }
}

a {
  margin-top: 0;
  margin-bottom: calc(var(--density) * 0.4em);
  color: var(--on-surface);
  text-decoration: underline;
  will-change: color;
  text-decoration-thickness: var(--border-width-s);
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: none;
  text-decoration-color: color-mix(in srgb, var(--on-surface) 35%, transparent);
  transition:
  color var(--duration-fast) var(--easing-base),
  text-decoration var(--duration-fast) var(--easing-base);

  &:hover {
    color: var(--primary);
    text-decoration-color: var(--primary);
    transition:
      color var(--duration-instant) var(--easing-base),
      text-decoration var(--duration-instant) var(--easing-base);
  }

  &.margin-free {
    margin: 0;
  }
}

mark {
  color: var(--on-mark);
  background-color: var(--mark);
}

button {
  &.text {
    color: var(--on-surface);
    font-size: 1.5em;
    line-height: 1.3;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    transition: color var(--duration-fast) var(--easing-base);
    
    &:hover {
      color: var(--primary);
      transition: color var(--duration-instant) var(--easing-base);
    }
    
    &.tab {
      color: var(--on-surface-variant);
      
      &:hover {
        color: var(--primary);
        transition: color var(--duration-instant) var(--easing-base);
      }
      
      &.selected {
        color: var(--on-surface);
        box-shadow: inset 0 calc(var(--border-width-m)* -1) 0 var(--on-surface);
      }
    }
  }
}

.tablist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-s);
  
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

#introduction-display {
  text-align: center;
  @media (max-width: 768px) {
    text-align: left;
  }
}

#logos {
  & svg {
    fill: var(--on-surface-variant);
  }
}
    
.icon {
 fill: var(--on-surface-variant);
}